name: Test Upload Artifact

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/upload-artifact@v3.1.3

      - name: Create test file
        run: echo "Hello" > hello.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: test-artifact
          path: hello.txt
